html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: url(/nccs-visual/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

#bg {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  background: -webkit-radial-gradient(circle, #2b2b2b 0%, #050505 80%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, #2b2b2b 0%, #050505 80%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #2b2b2b 0%, #050505 80%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle, #2b2b2b 0%, #050505 80%); /* Standard syntax (must be last) */
}

#info {

  font-size: 11px;
  position: absolute;
  bottom: 5px;
  background-color: rgba(26,26,26,0.85);
  border-radius: 3px;
  right: 10px;
  padding: 10px;
}

#title-bg {
  width: 400px;
  height: 103px;
  position: absolute;
  left:30px;
  top: 27px;
  font-family: Georgia;

  background-color: rgba(26,26,26,0.85);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


#title {
  font-size: 16px;
  position: absolute;
  padding: 30px 46px 13px 36px;
  left: 76px;
  top: 0px;

  border-bottom: 1px solid #999999
}

#date-label {
  font-size: 14px;
  position: absolute;
  left: 126px;
  top: 70px;
}

#date-select {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  position: absolute;
  left: 205px;
  top: 70px;

  color: #cccccc;
  border-bottom: 2px dashed #cccccc;
}

#date-select:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer; cursor: hand;
}

#logo {
  height: 75px;
  width: auto;
  position: relative;
  left: 9px;
  top: 14px;
}

#timeline-bg {
  height: 40px;
  width: 85vw;
  position: absolute;
  left: 0; right: 0;
  margin: auto;
  bottom: 95px;

  background-color: rgba(26,26,26,0.85);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;  
}

#marker-bg {
  height: 36px;
  width: 350px;
  position: absolute;
  right: 0; left: 0;
  margin: auto;
  bottom: 40px;
  text-align: center;
  line-height: 36px;

  background-color: rgba(26,26,26,0.85);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#marker {
  font: 18px Georgia;
  
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bull {
  padding: 0 5px;
  color: #555;
}

#ce span {
  display: none;
}

#ce {
  width: 107px;
  height: 55px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url(/nccs-visual/ce.png);
}




